.box{
    background-color: white;
    width: 200px;
    height: 400px;
    border-width: 10px ;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    /* padding: 10px; */
    border: 5px groove black;


}
.container{
    background-color: pink;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
 .h1{
    
 }