.box{
    width: 200px;
    height: 300px;
    /* background-color: red; */
    border: 10px solid green;
    border-radius: 10px;
    overflow: hidden;
}
.box:hover{
    width: 400px;
    height: 600px;
}