.container{
    border: 10px solid black;
    width: 400px;
    height: 270px;
    position: relative;

}
.img{
    width: 100%;
    height: 100%S;
}
.text{
    font-size: 20px;
    position: absolute ;
    top: 0;
    left: 0;

    color: white;
    font-style: oblique;


}

.container:hover>text{
    transform: translate(0px);
}

